.messages-output {
    height: 80vh;
    border: 1px solid lightgray;
    overflow-y: scroll;
    margin-bottom: 10px;
}

.message-inner {
    margin-left: 20px;
    margin-bottom: 10px;
    font: 400 3em, sans-serif;
    display: inline-block;
    background: #dcf8c6;
    padding: 2px;
    height: 140px;
    text-align: left;
    width: 300px;
    border-radius: 10px;
    word-break: break-word;
    max-width: fit-content;
    max-height: fit-content;
}

.incoming-message .message-inner {
    background-color: #ffdab9;
}

.incoming-message {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.message-content {
    font-size: 15px;
    padding: 0 25px 0 0;
}

.message-timestamp-left {
    font-size: 12px;
    color: #919191;
    word-break: keep-all;
    margin-left: 250px;
}

.message-sender {
    margin-bottom: 20px;
    font-weight: bold;
}

.message-date-indicator {
    width: 150px;
    margin: 0 auto;
}

.conversation-info {
    padding: 0;
    margin: 0 auto;
    text-align: center;
    height: 70px;
    font-weight: bold;
    font-size: 25px;
}

.send {
    height: 20px;
    width: 20px;
    color: white;
}